body {
  background-color: yellow;
}

main {
  color: white;
  text-align: center;
  font-weight: bold;
}

sub-main{
  color: white;
  text-align: center;
  font-weight: bold;
}

bio {
  color: white;
  text-align: center;
}
