body {
  background-color: black;
}

.logo {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.headshot {
  width: 75%;
  height: auto;
  display: block;
  margin: auto;
}

.bio {
  color: white;
  text-align: center;
  margin: 0 auto;
}

.links {
  filter: invert(100%);
  width: 100px;
  height: auto;
  display: block;
  margin: auto;
}
